flows.json
[
    {
        "id": "37da6985a18b7aed",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a67e2e236acf501c",
        "type": "mqtt in",
        "z": "37da6985a18b7aed",
        "name": "",
        "topic": "my_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8c5033a848038bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "5eaaf85e9bca6d76",
                "80120158cf522ab2"
            ]
        ]
    },
    {
        "id": "80120158cf522ab2",
        "type": "switch",
        "z": "37da6985a18b7aed",
        "name": "checkType",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "13e9825f9cc08d99",
                "aec6743603121a61",
                "abb7c1f3a504dfb3",
                "9b658d2f3554023a"
            ],
            [
                "171cfd66aa69a877",
                "aa32c61ed3ed1a53",
                "e778eb6b9348500f"
            ]
        ]
    },
    {
        "id": "13e9825f9cc08d99",
        "type": "ui_gauge",
        "z": "37da6985a18b7aed",
        "name": "tempGauge",
        "group": "56bc8d15b2e3f8d1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "oC",
        "format": "{{msg.payload.value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "8401c2f72ebe94bf",
        "type": "ui_chart",
        "z": "37da6985a18b7aed",
        "name": "tempChart",
        "group": "56bc8d15b2e3f8d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "171cfd66aa69a877",
        "type": "ui_gauge",
        "z": "37da6985a18b7aed",
        "name": "humGauge",
        "group": "b4288a5384c73a15",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "7f4a3a4dacda43fb",
        "type": "ui_chart",
        "z": "37da6985a18b7aed",
        "name": "humChart",
        "group": "b4288a5384c73a15",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5eaaf85e9bca6d76",
        "type": "debug",
        "z": "37da6985a18b7aed",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 340,
        "wires": []
    },
    {
        "id": "aec6743603121a61",
        "type": "debug",
        "z": "37da6985a18b7aed",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa32c61ed3ed1a53",
        "type": "debug",
        "z": "37da6985a18b7aed",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "abb7c1f3a504dfb3",
        "type": "function",
        "z": "37da6985a18b7aed",
        "name": "setTempValue",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 100,
        "wires": [
            [
                "8401c2f72ebe94bf"
            ]
        ]
    },
    {
        "id": "e778eb6b9348500f",
        "type": "function",
        "z": "37da6985a18b7aed",
        "name": "setHumValue",
        "func": "msg.payload = msg.payload.value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 440,
        "wires": [
            [
                "7f4a3a4dacda43fb"
            ]
        ]
    },
    {
        "id": "070660bd6374c250",
        "type": "mqtt out",
        "z": "37da6985a18b7aed",
        "name": "",
        "topic": "gpio/heat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c5033a848038bc1",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b658d2f3554023a",
        "type": "function",
        "z": "37da6985a18b7aed",
        "name": "getDesiredTemp",
        "func": "let desired = flow.get(\"desiredTemp\");\nlet current = msg.payload.value;\nmsg.payload = current < desired ? \"HEAT_ON\" : \"COOL_ON\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "070660bd6374c250",
                "dfd1624ffafefe85",
                "d3c87f9390445947"
            ]
        ]
    },
    {
        "id": "dfd1624ffafefe85",
        "type": "debug",
        "z": "37da6985a18b7aed",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "1ea432381c600ebb",
        "type": "ui_slider",
        "z": "37da6985a18b7aed",
        "name": "desiredTempSlider",
        "label": "slider",
        "tooltip": "",
        "group": "56bc8d15b2e3f8d1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "3569965ab6273f73",
                "4a6ced2e4d7848e3"
            ]
        ]
    },
    {
        "id": "3569965ab6273f73",
        "type": "function",
        "z": "37da6985a18b7aed",
        "name": "setDesiredTemp",
        "func": "flow.set(\"desiredTemp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4a6ced2e4d7848e3",
        "type": "debug",
        "z": "37da6985a18b7aed",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "d3c87f9390445947",
        "type": "ui_text",
        "z": "37da6985a18b7aed",
        "group": "56bc8d15b2e3f8d1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c5033a848038bc1",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "mqtt-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56bc8d15b2e3f8d1",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "1b8d85b18d9c162b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "b4288a5384c73a15",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "d78c56131130f0bd",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b8d85b18d9c162b",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d78c56131130f0bd",
        "type": "ui_tab",
        "name": "Humidity",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]